body {
    background-color: rgb(235, 232, 232);    
}
h1{
    text-align: center;
}

.getHeader{
    background-color: lightskyblue;
    padding: 10px;

}

ul{
    list-style: none;
    margin-left: -25px;
    margin-top: 0px;
}

p{
    margin-left: 10px;
    margin-top: 0px;
}
.postHeader{
    background-color: rgb(213, 199, 226);
    padding: 10px;
}

.putHeader{
    background-color: rgb(106, 201, 196);
    padding: 10px;
}

.deleteHeader{
    background-color: rgb(127, 159, 196);
    padding: 10px;
}